body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  display: block;
}

:root {
  --light-shades: #F3EFE4;
  --light-accent: #75CC00;
  --main-brand: #DF9F0A;
  --dark-accent: #18871E;
  --dark-shades: #2B332E;
}

footer {
  height: 300px;
  background-image: url(/images/gras.jpg);
  background-size: 100%;
  width: 100%;
  position: relative;
  padding-left: 0;
  padding-top: 70px;
}

#footer-logo {
  margin-left: 120px;
  float: left;
  filter: invert(1);
}

.wrapper1 {
  position: absolute;
  margin-left: 450px;
  float: left;
}

.wrapper1 > div {  
  color: black;
  padding-bottom: 4px;
  font-weight: bold;
}

.wrapper1 > a, .wrapper1 > a:link, .wrapper1 > a:visited {  
  color: white;
  text-decoration: none;
  padding-bottom: 4px;
  font-weight: bold;
  display: block;
  text-shadow: 1px 1px black;
}

.wrapper1 > a:hover {
  color: black;
  text-shadow: 1px 1px white;
}

.wrapper2 {
  position: absolute;
  margin-left: 720px;
  float: left;
}

.wrapper2 > div {
  color: white;
  padding-bottom: 4px;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.wrapper3 {
  position: absolute;
  margin-left: 1300px;
  float: left;
}

.wrapper3 > div {
  color: white;
  padding-bottom: 8px;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

#emailinput {
  margin-bottom: 8px;
}

#newsletter {
  display: block;
}

#copy {
  color: white;
  text-align: center;
  padding-top: 270px;
  text-shadow: 1px 1px black;
}