.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  display: block;
}

/*@media screen and (max-width: 900px) {
  .column {
    width: 100%;
    margin-top: 0;
  }
}*/

.text-center {
  text-align: center;
}

#picture-of-cows {
  max-width: 60%;
  height: auto;
}

.column {
  box-sizing: border-box;
  float: right;
  width: 50%; 
  background-color: red;
}

form > input, textarea {
  padding: 5px;
  border-radius: 3px;  
  border-color: #2B332E;
  margin: 7px;
} /*eventueel randen weghalen en box shadow gebruiken*/

form > label {
  margin: 7px;
}

form > input[type="submit"] { 
  margin: 7px;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 0px;
  background-color: #2b332e;
  color: #F3EFE4;
}
  
form > input[type="submit"]:hover {
  background-color: #75CC00;
  color: #2B332E;
  cursor: pointer;
}